# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django specific:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.env

# If you are using virtual environments
venv/
env/
ENV/
# pipenv
Pipfile.lock

# Ignore your database files
*.sqlite3

# Media folder (if you're storing user uploads locally)
media/

# Static files (if generated and not committed to version control)
static/

# VS Code configuration files (if you use it)
.vscode/

# Ignore the local settings files or environment files
.env
*.local

# Ignore migrations (optional, if you generate them)
**/migrations/*

# Ignore the compiled static assets from collectstatic
staticfiles/

# Ignore IDE specific files
.idea/
*.sublime-project
*.sublime-workspace
*.iml
.DS_Store
